{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block Masthead %}

    {% include ('layout/header-change-image.html.twig') %}

{% endblock %}

{% block body %}
    <section class="page-section" id="image">
        <div class="container text-center">
            <h1 class="section-heading text-uppercase">Modifier une image</h1><hr>
        </div>
        <div class="container">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="{{ asset('uploads/trick/' ~ image.imageName) }}" alt="{{ image.AltImage }}" class="figure-img img-fluid rounded">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ image.AltImage }}</h5>
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_row(form.altImage, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="custom-file form-group">
                                {{ form_row(form.image, {'attr': {'class': 'form-control custom-file-input', 'id': 'file', 'aria-describedby': 'inputGroupFileAddon01'}}) }}
                                <label class="custom-file-label" for="file">Modifier l'image (jpeg or png)</label>
                            </div>
                            <div class="text-center col col-sm-auto button-change-image">
                                <button class="btn btn-primary btn-sm text-uppercase" type="submit">Enregistrer</button>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}