{% for comment in comments %}

    <div class="media">
        <img src="{% if not comment.user.avatar %}{{ asset('uploads/avatars/user.png') }}{% else %}{{ asset('uploads/trick/' ~ comment.user.avatar) }}{% endif %}" alt="{{ comment.user.pseudo }}" class="align-self-center mr-3 avatar">
        <div class="media-body">
            <h5>{{ comment.user.pseudo }}</h5>
            <date><small>Ajouté le {{ comment.createAt | format_datetime(locale='fr') }}</small></date>
            {% if comment.modifiedAt %}<date><small>Modifié le {{ comment.modifiedAt | format_datetime(locale='fr') }}</small></date>{% endif %}
            <p>{{ comment.content | raw | nl2br }}</p>
        </div>
        {% if app.user == comment.user or is_granted("ROLE_ADMIN")%}
            <span class="span-icon" id="modifier">
                <a href="{{ path('edit.comment', {id: comment.id, slug: trick.slug}) }}#comment">
                    <i class="far fa-edit"></i>
                </a>
            </span>
            <span class="span-icon" id="supprimer">
                <a href="{{ path('delete.comment', {id: comment.id, slug: trick.slug}) }}"
                   onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </span>
        {% endif %}
    </div><hr>

{% endfor %}