{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body  %}

    <section class="page-section bg-light" id="trick">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Figures</h2>
                <h3 class="section-subheading text-muted">Figures de snowboard.</h3>
            </div>

            <div class="row">

                {% for trick in tricks %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="trick-item">
                            <a class="trick-link" href="{{ path('trick.show', {id: trick.id}) }}">
                                <div class="trick-hover">
                                    <div class="trick-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="{% if trick.images is empty %}{{ asset('assets/img/snow-default.jpg') }}{% else %}{{ asset('uploads/trick/' ~ trick.images.get('image_name')) }}{% endif %}" alt="" />
                            </a>
                            <div class="trick-caption">
                                <div class="trick-caption-heading"><a href="{{ path('trick.show', {id: trick.id}) }}">{{ trick.title }}</a></div>
                                {% if app.user %}
                                    <span class="span-icon" data-toggle="tooltip" data-placement="top" title="Modifier la figure">
                                    <a href="{{ path('admin.trick.edit', {id: trick.id}) }}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    </span>
                                        <span class="span-icon" data-toggle="tooltip" data-placement="top" title="Supprimer la figure">
                                        <a href="{{ path('admin.trick.delete', {id: trick.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}