{% extends 'base.html.twig' %}

{% block title %}Figure-{{ trick.title }}{{ trick.title }}{% endblock %}

{% block Masthead %}

{% include ('layout/header-trixk-show.html.twig') %}

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{#    <button class="btn display-medias" data-action="show-medias">Afficher les photos & videos</button>#}
<section class="page-section bg-light" id="trick">
    <div class="container">
        <div class="row">
            {% if trick.images %}
                {% for image in trick.images %}
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <img src="{{ asset('uploads/trick/' ~ image.imageName) }}" alt="{{ image.altImage }}" class="img-thumbnail">
                </div>
                {% endfor %}
            {% endif %}
            {% if trick.videos %}
                {% for video in trick.videos %}
                    <iframe src="{{ 'https://www.youtube.com/embed/' ~ video.urlVideo }}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            class="trick-video img-thumbnail"
                            allowfullscreen>
                    </iframe>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <p>{{ trick.description | raw}}</p>
    </div>

</section><hr>

<section class="page-section bg-light" id="comment">
    {% for comment in trick.comments %}
        <div class="container">
            <div class="row">
                <div class="col-3">
                    {{ comment.user.pseudo }} (<small>{{ comment.createAt | date('d/m/Y à H:i') }}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
</section>

{% endblock %}


