{% extends 'base.html.twig' %}

{% block title %}Figure-{{ trick.title }}{{ trick.title }}{% endblock %}

{% block Masthead %}

{% include ('layout/header-trixk-show.html.twig') %}

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}

<section class="page-section bg-light" id="trick">

    <div class="container text-center" id="div-media">
        <button class="btn btn-primary" id="button-media">Afficher les médias</button><hr>
    </div>
    <div class="container">
        <div class="row justify-content-center" id="media">
            {% if trick.images %}
                {% for image in trick.images %}
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <img src="{{ asset('uploads/trick/' ~ image.imageName) }}" alt="{{ image.altImage }}" class="img-thumbnail">
                </div>
                {% endfor %}
            {% endif %}
            {% if trick.videos %}
                {% for video in trick.videos %}
                    <iframe src="{{ 'https://www.youtube.com/embed/' ~ video.urlVideo }}"
                            seamless
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            class="img-thumbnail embed-responsive-item"
                            allowfullscreen>
                    </iframe>
                {% endfor %}
            {% endif %}
        </div>
        <hr>
        <p>{{ trick.description | raw | nl2br }}</p>
    </div>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-sm-{% if trick.modifiedAt %}3{% else %}4{% endif %}">
                <div class="card">
                    <div class="card-header">Catégorie</div>
                    <div class="card-body">
                        <h6 class="card-title">{{ trick.category.name }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-{% if trick.modifiedAt %}3{% else %}4{% endif %}">
                <div class="card">
                    <div class="card-header">Auteur</div>
                    <div class="card-body">
                        <h6 class="card-title">{{ trick.user.pseudo }}</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-{% if trick.modifiedAt %}3{% else %}4{% endif %}">
                <div class="card">
                    <div class="card-header">Date de création</div>
                    <div class="card-body">
                        <time class="card-title">{{ trick.createAt | format_datetime(locale='fr') }}</time>
                    </div>
                </div>
            </div>
            {% if trick.modifiedAt %}
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header">Modifié le :</div>
                        <div class="card-body">
                            <time class="card-title">{{ trick.modifiedAt | format_datetime(locale='fr') }}</time>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div><hr>
    </div>

    {% if app.user %}
        {% include('pages/comment-form.html.twig') %}
    {% endif %}
    <div class="container">
    {% for comment in trick.comments %}

            <div class="media">
                <img src="{% if not comment.user.avatar %}{{ asset('uploads/avatars/user.png') }}{% else %}{{ asset('uploads/avatars/' ~ comment.user.avatar) }}{% endif %}" alt="{{ comment.user.pseudo }}" class="align-self-center mr-3 avatar">
                <div class="media-body">
                    <h5>{{ comment.user.pseudo }}</h5>
                    <date><small>Ajouté le {{ comment.createAt | format_datetime(locale='fr') }}</small></date>
                    {% if comment.modifiedAt %}<date><small>Modifié le {{ comment.modifiedAt | format_datetime(locale='fr') }}</small></date>{% endif %}
                    <p>{{ comment.content | raw | nl2br }}</p>
                </div>
                {% if app.user == comment.user %}
                    <span class="span-icon" id="modifier">
                        <a href="{{ path('edit.comment', {id: comment.id, slug: trick.slug}) }}#comment">
                            <i class="far fa-edit"></i>
                        </a>
                    </span>
                    <span class="span-icon" id="supprimer">
                        <a href="{{ path('delete.comment', {id: comment.id, slug: trick.slug}) }}"
                           onclick="return confirm('Voulez-vous vraiment supprimer ce commentaire ?')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </span>
                {% endif %}
            </div><hr>

    {% endfor %}
    </div>
</section>

{% endblock %}


