{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block Masthead %}

    {% include ('layout/header-change-image.html.twig') %}

{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errors') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}

    <section class="page-section bg-light">
        <div class="container">
            <div class="container text-center">
                <h1 class="section-heading text-uppercase">Modification du mot de passe</h1><hr>
            </div>

            {{ form_start(form) }}
            <div class="">
                {{ form_errors(form) }}
            </div>
            <div class="row justify-content-left">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_row(form.confirmPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="button-change-image col-auto">
                        <button class="btn btn-primary btn-sm text-uppercase" type="submit">Enregistrer</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}